<div class="container mt-4">
    <h2>Lista de Cuentas</h2>
  
    <ul *ngIf="cuentas.length > 0; else noCuentas" class="list-group">
      <li *ngFor="let cuenta of cuentas" class="list-group-item">
        🏦 <strong>{{ cuenta.tipo }}</strong> - 💰 Saldo: <strong>{{ cuenta.saldo }}</strong>
        <button class="btn btn-info btn-sm float-end" [routerLink]="['/cuenta', cuenta.id]">
          Ver Detalles
        </button>
      </li>
    </ul>

    
      
  
    <ng-template #noCuentas>
      <p>No hay cuentas disponibles.</p>
    </ng-template>
  </div>
  